# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.venv
*.env

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Logs and databases
*.log
*.sqlite3
*.db

# Jupyter Notebook
.ipynb_checkpoints

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db
